.number-input-wrapper {
    display: grid;
    gap: 8px;
    font-weight: bold;
}

.number-input-wrapper label {
    color: #555;
    font-weight: normal;
}

.number-input-wrapper input {
    max-width: 100px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}

.number-input-control {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-gray);
}

.number-input-control button {
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    border-radius: 3px;
    width: 40px;
}

.number-input-control button:hover {
    background-color: var(--background-gray-hover);
}

.number-input-control button:active {
    background-color: var(--background-gray-active);
}

.number-input-control:has(button:focus), .number-input-control:has(input:focus) {
    outline: #fa70b5 solid 2px;
}