#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: grid;
}

#renderer {
  min-width: 1280px;
  min-height: 700px;
}

#renderer canvas {
  width: 100%;
  height: 100%;
}
